<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Ejercicio 9 - Manejo de GruntJS y depuracion del codigo. </title>
  <link rel="stylesheet" href="dist/css/styles.min.css" type="text/css" charset="utf-8">
</head>
<body ng-controller="myController">
  <h1>Cuaderno de alumnos</h1>
  <div class="wrapper">
    <div class="contact-item" ng-repeat="alumno in alumnos | orderBy:'nombres' ">
      <div class="nombre">
        {{ alumno.nombres }} - {{ alumno.telefono }}
      </div>
      <span class="curso">{{ alumno.curso }}</span>
    </div>
  </div>
  <br />
  <div align="center">
    <button type="submit" name="viewForm" ng-hide="formVisibility"
      ng-click="showForm()">
       Añadir contactos
    </button>
  </div>
  <hr />
  <div ng-show="formVisibility" class="wrapper">
    <h2>Añadir contactos</h2>
    Nombre: <input type="text" name="nombres" ng-model="form.nombres" value="">
    Teléfono: <input type="text" name="telefono" ng-model="form.telefono" value="">
    Curso: <input type="text" name="curso" ng-model="form.curso" value="">
    
    <button type="submit" name="addAlumno" ng-click="saved()">
       Registrar
    </button>
  </div>
  <!-- Libraries AngularJS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  
  <!-- Apps -->
  <script type="text/javascript" src="dist/js/operations.min.js"></script>
</body>
</html>
